.root{
    width: 100%;
}

.title_img{
    background-image: url("https://cdn.shopify.com/s/files/1/0974/7668/t/8/assets/page_banner_6_image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 320px;
    margin-bottom: 9px;
    position: relative;
    display: grid;
    place-items: center;
}

.title_img h1{
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.info{
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
    padding: 0 14%;
    font-family: sans-serif;
}
.body_wrapper{
    max-width: 1160px;
    margin: 0 auto;
    border: 1px solid black;
}
.grid_data{
    padding: 28px 0px 28px 0px !important;
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
}
@media only screen and (min-width: 769px){
.grid_data {

    grid-template-columns: 33.333% 33.333% 33.333%;
}
div {
    display: block;
}
   
}
@media screen and (min-width: 480px){
    .body_wrapper{
        padding: 0 30px;
    }
}
@media screen and (max-width:770px){
    .title_img{
        background-image: none;
        height: 120px;
        margin-bottom: 9px;
        display: grid;
        place-items: center;
    }
    .title_img h1{
        color:#000;
    }
}